input {
    margin-top: 10px;
    width: 100%;
    height: 45px;
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 20px;
    padding-left: 10px;
    color:black;
    
}

label {
    font-size: 20px;
}

textarea {
    border-radius: 8px;
    width: 100%;
    border: 1px solid transparent;
    font-size: 20px;
}

input[type=submit] {
    width: 100%;
    height: 50px;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 20px;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    color:white;
    cursor: pointer;
    transition: border-color 0.25s;
    margin-top: 20px;
  }
  .form-container {
    background-image: url('../assets/gradient.png'); /* Adjust the path based on the location of your assets folder */
    background-size: cover;
    padding: 20px;
    
  }
  
  .button-outline {
    border: 1px solid white; /* Set border style */
    background-color: transparent; /* Set background color to transparent */
    color: white; /* Set text color */
    padding: 0.5rem 1rem; /* Set padding */
    font-size: 1rem; /* Set font size */
    cursor: pointer; /* Set cursor to pointer for interactive effect */
  }
  